/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  overflow-x: hidden;
}

img {
  width: 100%;
  height: auto;
}

.font-sans {
  font-family: aktiv-grotesk, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.font-display, .break-quote, .bio-card h3, .bio-quote, .intro h2, .stat_num, #honors h2 {
  font-family: titling-gothic-fb-extended, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.font-condensed, .font-stat, .break-quote .attr-descriptor, .bio-quote .attr-description, .stat_label, .honors-card h4, #shop, .footer-card h4 {
  font-family: titling-gothic-fb-compressed, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.font-stat {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #cdd1d8;
  margin-right: .2rem;
}

section, footer {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6rem 2rem;
  width: 100vw;
  min-height: 100vh;
}

@media (min-width: 501px) {
  section, footer {
    padding-right: 0;
    padding-left: 0;
  }
}

.break-quote {
  background: #fbbe00;
  color: #001c51;
  text-align: right;
  font-weight: 700;
  padding: 4rem 2rem;
}

.break-quote blockquote {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.break-quote .attr {
  text-transform: uppercase;
  display: block;
  mix-blend-mode: overlay;
  font-size: 1.2rem;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: .5rem;
}

.break-quote .attr-descriptor {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  opacity: .5;
  font-weight: 400;
}

.break-quote .close-quote {
  margin-right: -1.2rem;
}

.break-quote.bio-quote-blue .attr {
  color: white;
  mix-blend-mode: screen;
  opacity: .5;
}

.break-quote.bio-quote-blue .attr-descriptor {
  opacity: .25;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

p {
  margin: .6rem 0;
  font-size: .85rem;
  line-height: 1.2;
}

p:last-of-type {
  margin-bottom: 0;
}

em {
  font-style: italic;
}

.hidden-mobile {
  display: none !important;
}

@media (min-width: 501px) {
  .hidden-mobile {
    display: initial;
  }
}

.z-0 {
  z-index: 0;
}

.z-10 {
  z-index: 10;
}

.z-20 {
  z-index: 20;
}

.z-30 {
  z-index: 30;
}

.z-40 {
  z-index: 40;
}

.z-50 {
  z-index: 50;
}

nav {
  position: fixed;
  min-height: 100vh;
  text-transform: uppercase;
  z-index: 100;
}

nav ul {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: .75rem;
  font-weight: 700;
  line-height: 2;
  margin-left: 1.5rem;
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 768px) {
  nav ul {
    margin-left: 2.5rem;
    margin-bottom: 2.5rem;
    line-height: 1.5;
  }
}

nav li {
  cursor: pointer;
  opacity: .25;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
  mix-blend-mode: difference;
}

nav .middle {
  opacity: 1;
}

.logo {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  height: 27px;
  width: 75px;
  z-index: 100;
}

@media screen and (min-width: 768px) {
  .logo {
    top: 2.5rem;
    right: 2.5rem;
  }
}

#hero {
  padding: 0;
}

#hero > * {
  -ms-grid-column: 1;
  grid-column: 1 / 1;
  -ms-grid-row: 1;
  grid-row: 1 / 1;
}

.clip {
  overflow: hidden;
}

.clip > span {
  display: inline-block;
}

.letter {
  display: inline-block;
}

.hero-img {
  width: 90%;
  max-width: 90%;
  margin-left: 1rem;
}

@media (min-width: 500px) {
  .hero-img {
    height: 90vh;
    width: auto;
    max-width: initial;
  }
}

.name {
  font-size: 2rem;
  font-weight: 900;
}

@media (min-width: 400px) {
  .name {
    font-size: 2.4rem;
  }
}

@media (min-width: 500px) {
  .name {
    font-size: 3rem;
  }
}

@media (min-width: 768px) {
  .name {
    font-size: 4.5rem;
  }
}

@media (min-width: 1000px) {
  .name {
    font-size: 6rem;
  }
}

#hero div:nth-child(1) {
  position: relative;
  top: -2%;
}

@media (min-width: 400px) {
  #hero div:nth-child(1) {
    top: -2.25%;
  }
}

@media (min-width: 500px) {
  #hero div:nth-child(1) {
    top: -2.75%;
  }
}

@media (min-width: 768px) {
  #hero div:nth-child(1) {
    top: -4.25%;
  }
}

@media (min-width: 1000px) {
  #hero div:nth-child(1) {
    top: -5.5%;
  }
}

#hero div:nth-child(2) {
  position: relative;
  top: 2%;
}

@media (min-width: 400px) {
  #hero div:nth-child(2) {
    top: 2.25%;
  }
}

@media (min-width: 500px) {
  #hero div:nth-child(2) {
    top: 2.75%;
  }
}

@media (min-width: 768px) {
  #hero div:nth-child(2) {
    top: 4.25%;
  }
}

@media (min-width: 1000px) {
  #hero div:nth-child(2) {
    top: 5.5%;
  }
}

#circle {
  height: 12rem;
  width: 12rem;
  background: #d50a1d;
  border-radius: 50%;
}

@media (min-width: 400px) {
  #circle {
    height: 14rem;
    width: 14rem;
  }
}

@media (min-width: 500px) {
  #circle {
    height: 16rem;
    width: 16rem;
  }
}

@media (min-width: 768px) {
  #circle {
    height: 18rem;
    width: 18rem;
  }
}

@media (min-width: 1000px) {
  #circle {
    height: 24rem;
    width: 24rem;
  }
}

#bio {
  padding-top: 0;
  padding-bottom: 0;
}

@media (min-width: 501px) {
  #bio {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
}

@media (min-width: 1001px) {
  #bio {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
}

.bio-card, .bio-quote {
  width: 100vw;
  min-height: 50vh;
  padding: 6rem 0;
  margin: 0;
  margin-left: -2rem;
}

@media (min-width: 501px) {
  .bio-card, .bio-quote {
    margin-left: 0;
    width: 100%;
    height: 100vh;
  }
}

.bio-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 4rem;
  padding-right: 2rem;
}

@media (min-width: 501px) {
  .bio-card {
    padding-right: 4rem;
  }
}

.bio-card h3 {
  font-size: 1.5rem;
  font-weight: 900;
  margin-bottom: 1rem;
  text-align: left;
  width: 100%;
}

.bio-quote {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  padding: 4rem 2rem;
  font-weight: 700;
  text-align: right;
}

@media (min-width: 501px) {
  .bio-quote {
    padding-right: 4rem;
  }
}

#creative {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

@media (min-width: 1001px) {
  #creative {
    -webkit-box-ordinal-group: initial;
        -ms-flex-order: initial;
            order: initial;
  }
}

.bio-quote blockquote {
  font-size: 2rem;
  margin-bottom: 1rem;
  line-height: 1.05;
  letter-spacing: -1px;
  -ms-grid-column: 1;
  grid-column: 1 / 1;
  -ms-grid-row: 1;
  grid-row: 1 / 1;
}

.bio-quote-image {
  -ms-grid-column: 1;
  grid-column: 1 / 1;
  -ms-grid-row: 1;
  grid-row: 1 / 1;
}

.open-quote, .close-quote {
  position: relative;
}

.close-quote {
  margin-right: -1.8rem;
}

.bio-quote-yellow {
  background: #fbbe00;
  color: #001c51;
}

.bio-quote-blue {
  background: #001c51;
  color: #fbbe00;
}

.bio-quote.no-attr blockquote {
  margin-bottom: 0;
}

.bio-quote .attr {
  text-transform: uppercase;
  display: block;
  mix-blend-mode: overlay;
  font-size: 1.2rem;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: .5rem;
}

.bio-quote .attr-description {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  opacity: .5;
  font-weight: 400;
}

.stroked-yellow, .stroked-blue, .stroked-red {
  color: transparent;
  z-index: 10;
}

.mask-determined {
  -webkit-mask: url("../img/determined.png");
          mask: url("../img/determined.png");
  mask-type: alpha;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-size: cover;
          mask-size: cover;
}

.mask-creative {
  -webkit-mask: url("../img/creative.png");
          mask: url("../img/creative.png");
  mask-type: alpha;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-size: cover;
          mask-size: cover;
}

.stroked-blue {
  -webkit-text-stroke: 1px #001c51;
}

.stroked-yellow {
  -webkit-text-stroke: 1px #fbbe00;
  mix-blend-mode: hard-light;
}

.stroked-red {
  -webkit-text-stroke: 1px #d50a1d;
  mix-blend-mode: screen;
}

#goal-video {
  overflow: hidden;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem 0;
}

#goal-video span {
  color: #fbbe00;
  font-size: 15rem;
  text-transform: uppercase;
  font-family: titling-gothic-fb-extended, sans-serif;
  font-weight: 800;
  font-style: normal;
  mix-blend-mode: hard-light;
}

#goal-video span:nth-child(odd) {
  color: transparent;
  -webkit-text-stroke: 1px #fbbe00;
}

#video-background {
  position: absolute;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

@media (min-width: 501px) {
  #stats {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

.intro {
  text-align: right;
  width: 100%;
  margin-bottom: 4rem;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.intro h2 {
  font-size: 1.2rem;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: .15rem;
}

span.highlight {
  color: #fbbe00;
}

.weight {
  margin-right: 0;
}

.stat_wrap {
  -ms-flex-item-align: start;
      align-self: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
}

.stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  position: relative;
}

.stat_num {
  font-size: 4rem;
  font-weight: 900;
  text-align: right;
  color: #fbbe00;
}

.stat_label {
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: .5px;
  -webkit-writing-mode: sideways-lr;
      -ms-writing-mode: sideways-lr;
          writing-mode: sideways-lr;
  margin-bottom: 5px;
  position: absolute;
  bottom: 0;
  right: 0;
}

#honors {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 4rem;
  text-align: right;
}

@media (min-width: 501px) {
  #honors {
    padding: 6rem 2rem;
  }
}

.honors-card {
  margin: 2rem 0;
  padding-right: 1rem;
  position: relative;
  right: -1rem;
  width: 100%;
}

#honors h2 {
  font-size: 1.2rem;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: .15rem;
  text-align: right;
  width: 100%;
  margin-bottom: 1rem;
}

.honors-card h3 {
  text-transform: uppercase;
  font-size: .85rem;
  font-weight: 700;
  color: #cdd1d8;
  letter-spacing: .5px;
  margin-bottom: .5rem;
}

.honors-card h4 {
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: .5px;
  margin-bottom: .5rem;
}

.honors-card span {
  display: block;
  font-size: .85rem;
}

.honors-card-section {
  margin-bottom: 1.2rem;
}

.honors-card-section:last-of-type {
  margin-bottom: 0;
}

#honors_individual {
  border-right: 4px solid #fbbe00;
}

#honors_national-team {
  border-right: 4px solid #001c51;
}

#honors_japanese-club {
  border-right: 4px solid #d50a1d;
}

#honors_club-team {
  border-right: 4px solid #cdd1d8;
}

#shop {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 600px) {
  #shop {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 4rem;
  }
}

@media (min-width: 1000px) {
  #shop {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 10rem;
  }
}

@media (min-width: 1000px) {
  #shop {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 25vw;
  }
}

.product-card {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .5px;
  padding-bottom: 5rem;
}

@media (min-width: 600px) {
  .product-card {
    width: 45%;
  }
}

.product-card span {
  margin-bottom: .5rem;
}

.product {
  font-weight: 400;
}

.price {
  color: #cdd1d8;
}

.buy {
  padding: .5rem;
  border: 1px solid #001c51;
  width: 100px;
  color: #001c51;
  background: white;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.buy:hover {
  color: white;
  background: #001c51;
}

footer {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
}

@media (min-width: 501px) {
  footer {
    padding: 6rem 2rem;
  }
}

.footer-card {
  width: 100%;
  margin: 1rem 0;
}

.footer-card:last-of-type {
  margin-bottom: 10vh;
}

.footer-card h4 {
  text-transform: uppercase;
  letter-spacing: .5px;
  margin-bottom: .25rem;
}

.footer-card a {
  font-size: .75rem;
  color: #2d3a51;
  line-height: 1.2;
}

footer .logo {
  top: initial;
  bottom: 1.5rem;
}

@media screen and (min-width: 768px) {
  footer .logo {
    bottom: 2.5rem;
    right: 2.5rem;
  }
}

.rellax-container {
  color: green;
}
/*# sourceMappingURL=style.css.map */