#bio {
  padding-top: 0;
  padding-bottom: 0;

  @include media(">500px") {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  @include media(">1000px") {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }
}

.bio-card, .bio-quote {
  width: 100vw;
  min-height: 50vh;
  padding: 6rem 0;

  margin: 0;
  margin-left: -2rem;

  @include media(">500px") {
    margin-left: 0;
    width: 100%;
    height: 100vh;
  }
}

.bio-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 4rem;
  padding-right: 2rem;
  @include media(">500px") {
    padding-right: 4rem;
  }
}

.bio-card h3 {
  @extend .font-display;
  font-size: 1.5rem;
  font-weight: 900;
  // text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: left;
  width: 100%;
}

.bio-quote {
  display: grid;
  align-items: center;
  justify-items: center;


  padding: 4rem 2rem;

  @extend .font-display;
  font-weight: 700;
  text-align: right;

  @include media(">500px") {
    padding-right: 4rem;
  }
}

#creative {
  order: 2;
  @include media(">1000px") {
    order: initial;
  }
}

.bio-quote blockquote {
  font-size: 2rem;
  margin-bottom: 1rem;
  line-height: 1.05;
  letter-spacing: -1px;

  grid-column: 1 / 1;
  grid-row: 1 / 1;
}

.bio-quote-image {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}

.open-quote, .close-quote { position: relative; }
.close-quote { margin-right: -1.8rem; }

.bio-quote-yellow {
  background: $yellow;
  color: $blue;
}

.bio-quote-blue {
  background: $blue;
  color: $yellow;
}

.bio-quote.no-attr blockquote {
  margin-bottom: 0;
}

.bio-quote .attr {
  text-transform: uppercase;
  display: block;
  mix-blend-mode: overlay;
  font-size: 1.2rem;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: .5rem;
}

.bio-quote .attr-description {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  opacity: .5;
  @extend .font-condensed;
  font-weight: 400;
}

.stroked-yellow, .stroked-blue, .stroked-red {
  color: transparent;
  z-index: 10;
}

.mask-determined {
  mask: url("../img/determined.png");
  mask-type: alpha;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: cover;
}

.mask-creative {
  mask: url("../img/creative.png");
  mask-type: alpha;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: cover;
}

.stroked-blue {
  -webkit-text-stroke: 1px $blue;
  // mix-blend-mode: color-dodge;
}
.stroked-yellow {
  -webkit-text-stroke: 1px $yellow;
  mix-blend-mode: hard-light;
  // color: $yellow;
}
.stroked-red {
  -webkit-text-stroke: 1px $red;
  mix-blend-mode: screen;
}


