.break-quote {
  background: #fbbe00;
  color: #001c51;
  text-align: right;
  font-weight: 700;
  padding: 4rem 2rem;

  @include media(">=720px") {
    padding-right: 3rem;
  }

  @extend .font-display;

  blockquote {
    font-size: 1.4rem;
    margin-bottom: 1rem;

    @include media(">=1500px") {
      font-size: 2rem;
    }
  }

  .attr {
    text-transform: uppercase;
    display: block;
    mix-blend-mode: overlay;
    font-size: 1.2rem;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: .5rem;
  }

  .attr-descriptor {
    @extend .font-condensed;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    opacity: .5;
    font-weight: 400;
  }

  .close-quote {
    margin-right: -1.2rem;
    @include media(">=1500px") {
      margin-right: -1.8rem;
    }
  }

  &.bio-quote-blue .attr {
    color: white;
    mix-blend-mode: screen;
    opacity: .5;
  }

  &.bio-quote-blue .attr-descriptor {
    opacity: .25;
  }
}

.break-quote-blue {
  background: $blue;
  color: $yellow;

  .attr {
    color: white;
    mix-blend-mode: screen;
    opacity: .5;
  }

  .attr-descriptor {
    opacity: .25;
  }
}

.break-quote img {
  height: 1.4rem;
  width: auto;
}