#hero {
  padding: 0;
}

#hero > * {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}

.clip {
  overflow: hidden;
  // outline: 1px solid red;
}

.clip > span {
  display: inline-block;
}

.letter {
  display: inline-block;
}

.hero-img {
  width: 90%;
  max-width: 90%;
  margin-left: 1rem;
  @include media(">=500px") {
    height: 90vh;
    width: auto;
    max-width: initial;
  }
}

.name {
  font-size: 2rem;
  font-weight: 900;
  // text-transform: uppercase;
  @include media(">=400px") {
    font-size: 2.4rem;
  }
  @include media(">=500px") {
    font-size: 3rem;
  }
  @include media(">=768px") {
    font-size: 4.5rem;
  }
  @include media(">=1000px") {
    font-size: 6rem;
  }
}

#hero div:nth-child(1){
  position: relative;
  top: -2%;

  @include media(">=400px") {
    top: -2.25%;
  }
  @include media(">=500px") {
    top: -2.75%;
  }
  @include media(">=768px") {
    top: -4.25%;
  }
  @include media(">=1000px") {
    top: -5.5%;
  }
}
#hero div:nth-child(2){
  position: relative;
  top: 2%;

  @include media(">=400px") {
    top: 2.25%;
  }
  @include media(">=500px") {
    top: 2.75%;
  }
  @include media(">=768px") {
    top: 4.25%;
  }
  @include media(">=1000px") {
    top: 5.5%;
  }
}

#circle {
  height: 12rem;
  width: 12rem;
  background: $red;
  border-radius: 50%;

  @include media(">=400px") {
    height: 14rem;
    width: 14rem;
  }
  @include media(">=500px") {
    height: 16rem;
    width: 16rem;
  }
  @include media(">=768px") {
    height: 18rem;
    width: 18rem;
  }
  @include media(">=1000px") {
    height: 24rem;
    width: 24rem;
  }
}