#honors {
  @include media(">=720px") {
    grid-template-columns: 1fr 1fr;
  }
  @include media(">=1200px") {
    grid-template-columns: 1fr;
  }
}

.honors-container {
  width: 100vw;
  min-height: 100vh;
  padding: 4rem 2rem;
  text-align: right;

  @include media(">=720px") {
    width: 100%;
    order: 2;
    text-align: left;
    padding-left: 3rem;
  }

  @include media(">=1200px") {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: start;
    width: 80vw;
    grid-gap: .5rem;
  }
}

#honors .break-quote {
  @include media(">=720px") {
    height: 100%;
  }

  @include media(">=1200px") {
    text-align: left;
    width: 100%;
    height: auto;
    order: 2;
    padding-left: 15vw;
    padding-right: 15vw;
  }

  & blockquote {
    @include media(">=1200px") {
      width: 60%;
    }
  }

  & .open-quote {
    @include media(">=1200px") {
      margin-left: -1.2rem;
    }
    @include media(">=1500px") {
      margin-left: -1.8rem;
    }
  }
}

.honors-card {
  margin: 2rem 0;
  padding-right: 1rem;
  padding-left: 1rem;
  position: relative;
  right: -1rem;
  width: 100%;

  @include media(">=720px") {
    padding: 0;
    padding-left: 1rem;
    right: 0;
    left: -1rem;
  }

  @include media(">=1200px") {
    padding-left: .5rem;
    padding-right: .5rem;
  }
}

#honors h2 {
  @extend .font-display;
  font-size: 1.2rem;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: .15rem;
  width: 100%;
  margin-bottom: 1rem;

  @include media(">=1200px") {
    grid-column: 1 / -1;
  }
}

.honors-card h3 {
  text-transform: uppercase;
  font-size: .85rem;
  font-weight: 700;
  color: $grey;
  letter-spacing: .5px;
  margin-bottom: .5rem;
}

.honors-card h4 {
  @extend .font-condensed;
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: .5px;
  margin-bottom: .5rem;
}

.honors-card span {
  display: block;
  font-size: .85rem;
}

.honors-card-section {
  margin-bottom: 1.2rem;
  &:last-of-type {
    margin-bottom: 0;
  }
}

#honors_individual {
  border-right: 4px solid $yellow;
  @include media(">=720px") {
    border-right: none;
    border-left: 4px solid $yellow;
  }
}

#honors_national-team {
  border-right: 4px solid $blue;
  @include media(">=720px") {
    border-right: none;
    border-left: 4px solid $blue;
  }
}

#honors_japanese-club {
  border-right: 4px solid $red;
  @include media(">=720px") {
    border-right: none;
    border-left: 4px solid $red;
  }
}

#honors_club-team {
  border-right: 4px solid $grey;
  @include media(">=720px") {
    border-right: none;
    border-left: 4px solid $grey;
  }
}

#honors img {
  display: none;
}

@include media(">=1200px") {
  #honors img {
    width: 100px;
    display: initial;
    align-self: start;
    margin-top: 1rem;
    margin-bottom: -.5rem;
  }

  #honors img:nth-of-type(1) {
    width: 120px;
    border-radius: 50%;
  }

  #honors img:nth-of-type(2) {
    width: 100px;
  }

  #honors img:nth-of-type(3) {
    width: 110px;
    margin-top: .6rem;
  }

  #honors img:nth-of-type(4)  {
    margin-top: 0;
    width: 90px;
  }
}