#stats {
  @include media(">500px") {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

.intro {
  text-align: right;
  width: 100%;
  margin-bottom: 4rem;
  align-self: end;
}

.intro h2 {
  @extend .font-display;
  font-size: 1.2rem;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: .15rem;
  // color: $blue;
}

span.highlight {
  color: $yellow;
}

.weight {
  margin-right: 0;
}

.stat_wrap {
  align-self: start;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}

.stat {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  // margin: .25rem 0;
}

.stat_num {
  @extend .font-display;
  font-size: 4rem;
  font-weight: 900;
  text-align: right;
  color: $yellow;
}

.stat_label {
  @extend .font-condensed;
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: .5px;
  writing-mode: sideways-lr;
  margin-bottom: 5px;
  // color: $blue;

  position: absolute;
  bottom: 0;
  right: 0;
}